@import url(src/css/style-config.css);

html, body{
   height: 100%;
   margin: 0;
   padding: 0;
}

html{ font-size: var(--html-font-size); }
body{ 
   font-family: var(--font-primary);
   font-size: var(--body-font-size); 
   font-weight: 400;

   @media (max-width:767px){
      line-height: 150%;
   }
}

.container-fluid{
   padding: 0 var(--space-96) 0 var(--space-96);

   @media (max-width: 1440px) {
      padding: 0 var(--space-80) 0 var(--space-80);
   }
   @media (max-width:1279px){
      padding: 0 var(--space-24) 0 var(--space-24);
   }
   @media (max-width:767px){
      padding: 0 var(--space-16) 0 var(--space-16);
   }
}

h1, .heading-xxl{ 
   font-size: var(--heading-size-h1);
   font-weight: 500;
   line-height: 120%;
   margin: 0;

   &:last-of-type{
      margin: 0 0 var(--space-48) 0;
      
      @media (max-width:767px){
         margin-bottom: var(--space-28);
      }
   }

}
h2, .heading-xl{ font-size: var(--heading-size-h2); }
h3, .heading-lg{ font-size: var(--heading-size-h3); }
h4, .heading-md{ font-size: var(--heading-size-h4); }
h5, .heading-sm{ font-size: var(--heading-size-h5); }
h6, .heading-xs{ font-size: var(--heading-size-h6); }
p, .para{ font-size: var(--heading-size-p); margin: 0 0 var(--space-16) 0; }

.button{
   font-size: var(--heading-size-p);
   padding: var(--space-12) var(--space-32);
   display: inline-block;
   border-radius: 100px;
   background-color: var(--color-primary);
   border: 1px solid var(--color-primary);
   color: var(--color-text_primary);
   line-height: 1;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
   cursor: pointer;
   text-decoration: none;
   transition: all 0.6s ease-in-out;

   &:is(.cursor-default){
      cursor: default;
   }

   &:not(.remove-hover){
      &:hover{
         background-color: var(--color-secondary);
         border-color: var(--color-secondary);
         color: var(--color-text_primary);
         transition: all 0.6s ease-in-out;
      }
   }

   &.button-outline{
      background-color: transparent;
      border-color: var(--color-text_primary);
      color: var(--color-text_primary);

      &:not(.remove-hover){
         &:hover{
            background-color: var(--color-text_primary);
            border-color: var(--color-text_primary);
            color: var(--color-white);
         }
      }
   }
   &.button-white {
      background-color: var(--color-white);
      border-color: var(--color-white);
      color: var(--color-text_primary);

      &:not(.remove-hover){
         &:hover{
            border-color: var(--color-secondary);
         }
      }
   }
   &.button-outline-white {
      background-color: transparent;
      border-color: var(--color-white);
      color: var(--color-white);

      &:not(.remove-hover){
         &:hover{
            background-color: var(--color-white);
            border-color: var(--color-white);
            color: var(--color-text_primary);
         }
      }
   }   
}

/* Hero Banner Start */
.hero{
   position: relative;
   min-height: 100vh;
   background-color: var(--color-primary);
   color: var(--color-white);

   @media (max-width: 1024px){
      min-height: auto;
   }

   .hero--background{
      background-color: var(--color-dark);
   }

   .hero--content{
      display: flex;
      flex-direction: column;
      min-height: 100vh;

      @media (max-width: 1024px){
         min-height: auto;
      }

      .hero--content_top{
         padding-top: calc(7.2rem + 1.5vh); /* 130px */
         padding-bottom: 1.6rem; /* 30px */
         margin-bottom: auto;

         @media (max-width:767px){
            padding-bottom: 0;
         }
      }
      .hero--content_bottom{
         margin-top: auto;
         padding-bottom: 5.333rem; /* 96px */
      }
   }

   .button--list{
      @media (max-width: 767px) {
         display: none;
      }
   }
}

.hero--content_bottom{
   display: flex;

   .content_botton--right{
      flex: 0 0 50%;
      max-width: 50%;
      margin-left: auto;
      padding-right: 7.22rem; /* 130px */
      padding-left: 5.55rem; /* 100px */

      @media (max-width: 1024px) {
         flex: 0 0 100%;
         max-width: 100%;
         padding: 0;
      }
   }
}


.button--list{
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
   gap: 8px;
}
/* Hero Banner End */