// -----------------------------------------------------------------------------
// DEBUG - for usage when developing
// -----------------------------------------------------------------------------

.dev {
  &--on {
    position: fixed;
    top: -1px;
    bottom: -1px;
    left: 50%;
    z-index: 9999;
    height: calc(100% + 2px);
    transform: translateX(-50%);
    pointer-events: none;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid #f00;
      background-color: rgba(#f00, 0.1);
    }
  }
}

//
// Marks images that are not lazy loaded
//
img {
  &:not([data-is-lazy]) {
    border: 4px dashed red;
  }
}

//
// Marks links without href attribute. They should be <button> elements instead
//
a:not([href]),
a[href=""],
a[href="#"] {
  border: 4px dashed red;
}
