@import "~styles/config";

.simple-accordion {
  $root: &;

  position: relative;

  &__item {
    position: relative;

    &.expanded {
      #{$root}__content {
        display: block;
      }

      .icon-plus-minus {
        &::after {
          opacity: 0;
          transform: rotate(0deg);
        }
      }
    }
  }

  &__trigger {
    position: relative;
    padding-right: 50px;
    cursor: pointer;
    user-select: none;

    .icon-plus-minus {
      $line-thickness: 2px;

      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 15px;
      height: $line-thickness;

      &,
      * {
        cursor: pointer;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: $line-thickness;
        background-color: #000;
        opacity: 1;
        transition: opacity 300ms, transform 300ms;
      }

      &::after {
        transform: rotate(-90deg);
      }
    }
  }

  &__content {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
