/* stylelint-disable max-line-length */
//
// Example usage:
//
// @include r(mobile) {
//    font-size: fluid-type($mobile-min, $tablet-max, 24px, 30px);
//    line-height: fluid-type($mobile-min, $tablet-max, 30px, 36px);
// }
//
@function fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    @return calc(
      #{force-px($max-font-size)} + (#{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{force-px($max-vw)}) / #{strip-unit($max-vw - $min-vw)}))
    );
  }
}
/* stylelint-enable max-line-length */
