// -----------------------------------------------------------------------------
// FEED - common elements only. Any specific feed should have its own .scss file
// -----------------------------------------------------------------------------

@import "~styles/config";

.feed {
  position: relative;
  margin-top: -30px;
  margin-bottom: 120px;

  @include r(tablet) {
    margin-top: -24px;
  }

  @include r(mobile) {
    margin-top: -15px;
    margin-bottom: 70px;
  }

  &--loading {
    min-height: 100vh;

    &::after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: $z-index-page-loading-spinner;
      background-color: rgba(#fff, 0.6);
    }

    &::before {
      content: "";
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: $z-index-page-loading-spinner + 1;
      width: 150px;
      height: 150px;
      background-image: url("~img/icons/loading-icon.svg");
      background-size: 150px;
      transform: translate(-50%, -50%);
    }
  }

  //
  // Results
  //
  .feed-results {
    img {
      display: block;
      max-width: 100%;
    }
  }

  //
  // Pagination
  //
  .load-previous-page-btn,
  .load-next-page-btn {
    display: block;
    max-width: none;
  }

  .load-next-page-btn {
    margin: 120px auto 0;

    @include r(mobile) {
      margin: 40px auto 0;
    }
  }

  .load-previous-page-btn {
    margin: 0 auto 120px;

    &::after {
      bottom: 14px;
      transform: rotate(-90deg);
    }
  }
}
