@import "~styles/config";

.video-block {
  position: relative;
  padding: 95px 0 120px;

  &.bg-white {
    background: $white;
  }

  &.bg-grey {
    background: $grey--light;
  }

  @include r(laptop-small) {
    padding: 90px 0 100px;
  }

  @include r(tablet-max) {
    padding: 75px 0;
  }

  @include r(tablet-small) {
    padding: 50px 0;
  }

  ul {
    margin: 0;
    padding: 0 0 25px 5px;
    list-style: none;

    &:last-child {
      padding-bottom: 0;
    }

    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 4px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $green;

        @include r(tablet-max) {
          top: 7px;
        }
      }

      a {
        display: inline-block;
        vertical-align: top;
        color: inherit;
        transition: all $a-short ease-in-out;

        &:hover {
          color: $green;
        }
      }
    }
  }

  &__bgimg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 657px;
    height: 576px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100% 100%;

    @include r(laptop-small) {
      width: 537px;
      height: 509px;
    }

    @include r(tablet-max) {
      width: 367px;
      height: 329px;
    }

    @include r(tablet-small) {
      display: none;
    }
  }

  &__fullcontent {
    max-width: 1052px;
    margin: 0 auto 60px;

    @include r(tablet-max) {
      margin: 0 auto 40px;
    }

    @include r(tablet-small) {
      margin: 0 auto 25px;
    }

    h3,
    p {
      font-family: $kamerik;
      font-size: 36px;
      font-weight: $f-bold;
      line-height: 48px;
      color: $green--dark;

      @include r(laptop-small) {
        font-size: 30px;
        line-height: 40px;
      }

      @include r(tablet) {
        font-size: 26px;
        line-height: 34px;
      }

      @include r(mobile) {
        font-size: 24px;
        line-height: 32px;
      }

      a {
        display: inline-block;
        vertical-align: top;
        color: inherit;
        transition: all $a-short ease-in-out;

        &:hover {
          color: $green;
        }
      }
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1052px;
    margin: 0 auto;

    h5 {
      margin-bottom: 8px;
      font-family: $orkney;

      @include r(tablet-small) {
        margin-bottom: 12px;
      }
    }

    p {
      margin-top: 0;

      & + h5 {
        margin-top: 36px;

        @include r(laptop-small) {
          margin-top: 30px;
        }

        @include r(tablet-max) {
          margin-top: 25px;
        }

        @include r(tablet-small) {
          margin-top: 20px;
        }
      }
    }

    &.media-left {
      .video-block__left {
        margin-left: auto;
        padding-left: 50px;
        padding-right: 0;

        @include r(tablet-small) {
          padding: 0;
        }
      }

      .video-block__right {
        order: -1;
        margin-left: 0;

        @include r(tablet-small) {
          order: inherit;
        }
      }
    }
  }

  &__left {
    width: 51%;
    max-width: 455px;
    padding-right: 50px;

    @include r(tablet-max) {
      width: 55%;
      padding-right: 30px;
    }

    @include r(tablet-small) {
      width: 100%;
      max-width: none;
      margin-bottom: 53px;
      padding-right: 0;
    }

    p {
      a {
        display: inline-block;
        vertical-align: top;
        color: inherit;
        transition: all $a-short ease-in-out;

        &:hover {
          color: $green;
        }
      }
    }
  }

  &__right {
    width: 49%;
    margin-left: auto;

    @include r(tablet-max) {
      width: 45%;
    }

    @include r(tablet-small) {
      width: 100%;
    }
  }

  &__image {
    position: relative;
    padding-bottom: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include r(tablet-small) {
      padding-bottom: 70.8%;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 13px 21px 11px;
    background: rgb(35 31 32 / 75%);

    @include r(tablet-max) {
      padding: 10px 15px;
    }

    @include r(tablet-small) {
      padding: 8px 12px;
    }

    &__left {
      width: 28px;
      cursor: pointer;

      @include r(tablet-max) {
        width: 24px;
      }

      @include r(tablet-small) {
        width: 18px;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }

    &__right {
      width: calc(100% - 28px);
      padding-left: 33px;
      color: $white;

      @include r(tablet-max) {
        width: calc(100% - 24px);
        padding-left: 25px;
      }

      @include r(tablet-small) {
        width: calc(100% - 18px);
        padding-left: 23px;
      }

      p {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;

        @include r(tablet-max) {
          font-size: 13px;
          line-height: 19px;
        }

        @include r(tablet-small) {
          font-size: 11px;
          line-height: 14px;
        }

        strong {
          font-size: 16px;

          @include r(tablet-max) {
            font-size: 14px;
          }

          @include r(tablet-small) {
            font-size: 11px;
            line-height: 14px;
          }
        }
      }
    }
  }

  &__playic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}

.video-block-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all $a-short ease-in-out;

  &.video-open {
    z-index: 111;
    opacity: 1;
    visibility: visible;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: $black--off;
    opacity: 0.75;
  }

  &__videowrp {
    position: relative;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 33.5%;

    @include r(tablet-max) {
      max-width: 70%;
      padding-bottom: 38.5%;
    }

    @include r(tablet-small) {
      max-width: 100%;
      padding-bottom: 56.5%;
    }

    iframe,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__close {
    @include admin-bar(20px);

    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
    text-decoration: none;
    color: $white;
    background: $green;
    transition: all $a-short ease-in-out;
    cursor: pointer;

    @include r(tablet-max) {
      width: 40px;
      height: 40px;
      font-size: 16px;
      line-height: 43px;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}
