@import "~styles/config";

.team-carousel-block {
  position: relative;
  overflow: hidden;
  padding: 91px 0 50px;
  background: $grey--light;

  @include r(laptop-small) {
    padding: 85px 0 50px;
  }

  @include r(tablet-small) {
    padding: 45px 0;
  }

  &__heading {
    text-align: center;

    p {
      margin-bottom: 12px;

      @include r(tablet-small) {
        margin-bottom: 5px;
      }

      span {
        display: block;
        font-size: 14px;
        letter-spacing: 3.5px;
        text-transform: uppercase;

        @include r(laptop-small) {
          font-size: 13px;
        }

        @include r(tablet-small) {
          font-size: 12px;
          letter-spacing: 3px;
        }
      }
    }

    h2 {
      margin-top: 0;
      color: $green;

      &.dark-green-title {
        color: $green--dark;
      }
    }
  }

  &__sliderwrap {
    width: calc(50% + 647px);
    margin-left: auto;

    @include r(laptop) {
      width: 100%;
      padding: 0 38px;
    }

    @include r(laptop-small) {
      padding: 0 50px;
    }

    @include r(tablet) {
      width: 100%;
      padding-left: 35px;
      padding-right: 35px;
    }

    @include r(mobile) {
      width: 100%;
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &__slider {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0 0;

    @include r(laptop-small) {
      margin: 50px -12px 0;
    }

    @include r(tablet-small) {
      position: relative;
      z-index: 1;
      margin: 40px -8px 0;
      padding-bottom: 73px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -100%;
      width: 100%;
      background: $grey--light;
    }

    .flickity-viewport {
      width: 100%;
      overflow: inherit;
    }

    &.no-slider {
      .team-carousel-block__slidercol {
        width: 25%;

        @include r(laptop-small) {
          width: 30%;
        }

        @include r(tablet-max) {
          width: 36%;
        }

        @include r(tablet-small) {
          width: 67%;
        }
      }
    }

    &.flickity-enabled {
      .flickity-page-dots {
        justify-content: flex-start;
        width: calc(1270px - 120px);
        height: 10px;
        overflow: hidden;
        margin-top: 67px;
        margin-bottom: 18px;
        padding: 0 12px;

        @include r(laptop,laptop-small) {
          width: 88%;
        }

        @include r(tablet-max) {
          width: 83%;
        }

        @include r(tablet-small) {
          justify-content: flex-start;
          width: auto;
          margin: 47px auto 0;
          margin-left: auto;
          padding: 0 8px;
        }

        .flickity-page-dot,
        .dot {
          margin: 2px 4px;
          background: #cacaca;

          &.is-selected {
            background: $green;
          }
        }
      }

      .flickity-prev-next-button {
        top: auto;
        bottom: 0;
        left: calc(1270px - 37px);
        right: auto;
        margin: 0 12px 0 0;

        @include r(laptop) {
          left: auto;
          right: -2px;
        }

        @include r(laptop-small) {
          right: 0;
        }

        @include r(tablet) {
          left: auto;
          right: 0;
        }

        @include r(mobile) {
          left: auto;
          right: 0;
        }

        @include r(tablet-small) {
          top: auto;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
        }

        &.previous {
          left: calc(1270px - 97px);

          @include r(laptop,tablet) {
            left: auto;
            right: 64px;
          }

          @include r(tablet-small) {
            left: -51px;
            right: 0;
          }
        }

        &.next {
          @include r(tablet-small) {
            right: -51px;
          }
        }
      }
    }
  }

  &__slidercol {
    display: flex;
    flex-wrap: wrap;
    width: 22.9%;
    min-height: 100%;
    padding: 0 12px;

    @include r(laptop-small) {
      width: 30%;
    }

    @include r(tablet-max) {
      width: 36%;
    }

    @include r(tablet-small) {
      width: 67%;
      padding: 0 8px;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__img {
      position: relative;
      width: 100%;
      padding-bottom: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      width: 100%;
      height: 100%;
      padding: 20px 24px 16px;
      color: $white;
      background: $green--dark;

      @include r(tablet-small) {
        padding: 10px 16px 8px;
      }
    }

    &__info-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &__info {
      width: calc(100% - 28px);
      padding-right: 30px;

      @include r(tablet-small) {
        width: calc(100% - 25px);
      }

      &:only-child {
        width: 100%;
        padding-right: 0;
      }

      h6 {
        margin: 0 0 4px;
        font-family: $orkney;

        @include r(tablet-small) {
          margin: 0;
        }
      }

      p {
        margin-top: 0;
      }
    }

    &__socialic {
      width: 28px;

      @include r(tablet-small) {
        width: 25px;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }
  }
}
