@import "~styles/config";

.service-tiles-block {
  position: relative;
  padding: 105px 0 130px;

  @include r(laptop-small) {
    padding: 90px 0 100px;
  }

  @include r(tablet-max) {
    padding: 70px 0;
  }

  @include r(tablet-small) {
    padding: 72px 0 50px;
  }

  &__heading {
    margin-bottom: 60px;
    text-align: center;

    @include r(laptop-small) {
      margin-bottom: 40px;
    }

    @include r(tablet-max) {
      margin-bottom: 20px;
    }

    @include r(tablet-small) {
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 12px;

      span {
        display: block;
        font-size: 14px;
        letter-spacing: 3.5px;
        text-transform: uppercase;

        @include r(laptop-small) {
          font-size: 13px;
        }

        @include r(tablet-small) {
          font-size: 12px;
        }
      }
    }

    h2 {
      margin-top: 0;
      color: $green;

      &.dark-green-title {
        color: $green--dark;
      }
    }
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -11px;
  }

  &__column {
    width: 33.33%;
    margin-top: 24px;
    padding: 0 11px;

    @include r(tablet-max) {
      width: 50%;
    }

    @include r(tablet-small) {
      width: 100%;
      margin: 0 0 14px;
    }
  }

  &__colinner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding: 27px 31px;
    text-decoration: none;
    color: $black--off;
    background: $grey--light;
    transition: all $a-short ease-in-out;

    @include r(laptop-small) {
      padding: 25px 20px;
    }

    @include r(tablet-small) {
      padding: 20px 22px;
    }

    h4 {
      margin: 0 0 9px;
      font-family: $orkney;
    }

    p {
      margin-top: 0;
      margin-bottom: 64px;

      @include r(laptop-small) {
        margin-bottom: 40px;
      }

      @include r(tablet-small) {
        margin-bottom: 8px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .link-primary {
      margin-top: auto;
    }

    ul {
      margin-top: auto;
      margin-bottom: 0;
      padding: 15px 0 0;
      list-style: none;

      @include r(tablet-small) {
        padding: 5px 0;
      }

      li {
        display: block;
        margin-bottom: 11px;
        font-family: $orkney;
        font-size: 18px;
        font-weight: $f-medium;

        @include r(laptop-small) {
          margin-bottom: 7px;
          font-size: 16px;
          line-height: 24px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .link-primary {
          font-family: $orkney;
          font-size: 18px;
          font-weight: $f-medium;

          @include r(laptop-small) {
            font-size: 16px;
            line-height: 24px;
          }

          @include r(tablet-small) {
            padding-left: 27px;
          }

          &::after {
            @include r(tablet-small) {
              top: 2px;
              left: 0;
              width: 16px;
              height: 16px;
              background-size: 16px;
            }
          }
        }
      }
    }
  }

  a.service-tiles-block__colinner {
    &:hover {
      color: $white;

      .service-tiles-block__hoverbg {
        img {
          opacity: 1;
          transform: scale(1);
        }
      }

      .link-primary {
        color: $white;
      }
    }
  }

  &__hoverbg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: scale(1.3);
      transition: all $a-short ease-in-out;
      object-fit: cover;
    }
  }

  &__telephone {
    width: 100%;
    border-top: 1px solid $grey;
    margin-top: 15px;
    padding: 19px 0 0;

    @include r(tablet-small) {
      margin-top: 7px;
      padding: 11px 0 0;
    }

    .link-primary {
      font-family: $orkney;
      font-size: 18px;
      font-weight: $f-medium;
      line-height: 26px;

      @include r(laptop-small) {
        font-size: 16px;
        line-height: 24px;
      }

      @include r(tablet-small) {
        padding-left: 27px;
      }

      &::after {
        background-image: url("~img/green-phone-icon.svg");

        @include r(tablet-small) {
          top: 2px;
          left: 0;
          width: 16px;
          height: 16px;
          background-size: 16px;
        }
      }
    }
  }

  &__multiplelinks {
    .service-tiles-block__hoverbg {
      display: none;
    }
  }
}
