*,
::before,
::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include normalised-text;

  overflow-x: hidden;
  margin: 0;
  color: $black--off;

  @include r(laptop-small) {
    font-size: 15px;
    line-height: 21px;
  }

  @include r(mobile) {
    font-size: 14px;
    line-height: 22px;
  }

  // Helper class
  &.no-scroll {
    overflow-y: hidden;
  }

  //
  // Dark overlay that can be used by different components/blocks to darken the background (i.e. modals, menus...)
  //
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms, visibility 400ms;
  }

  &.show-overlay {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

// main > section,
// main > .container {
//   position: relative;
//   z-index: 2;
// }
