@font-face {
  font-family: Orkney;
  src:
    url("~fonts/Orkney-Regular.woff2") format("woff2"),
    url("~fonts/Orkney-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Orkney;
  src:
    url("~fonts/Orkney-Medium.woff2") format("woff2"),
    url("~fonts/Orkney-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Orkney;
  src:
    url("~fonts/Orkney-Bold.woff2") format("woff2"),
    url("~fonts/Orkney-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Orkney;
  src:
    url("~fonts/Orkney-Light.woff2") format("woff2"),
    url("~fonts/Orkney-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kamerik105W00";
  src:
    url("~fonts/Kamerik105W00-Bold.woff2") format("woff2"),
    url("~fonts/Kamerik105W00-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kamerik105W00-Book";
  src:
    url("~fonts/Kamerik105W00-Book.woff2") format("woff2"),
    url("~fonts/Kamerik105W00-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
