// Base posts list styling can be used in different components/blocks, so it
// was extracted to its own separate component file.
@import "~styles/components/feed/_posts-list";

.feed-results--posts {
  .feed-results__page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 96px 24px;
    margin-bottom: 90px;

    &:last-child {
      margin-bottom: 0;
    }

    @include r(tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include r(mobile) {
      grid-template-columns: 1fr;
    }

    @include r(mobile, tablet) {
      grid-row-gap: 20px;
    }
  }
}

//
// Special grid for first page of results, so we can style the first 3 items differently
//
.feed-results--posts.modified-grid {
  .feed-results__page[data-page="1"] {
    @include r(laptop, desktop, ultrawide) {
      grid-template-columns: repeat(6, 1fr); // needs to be bigger grid to allow the layout with 2 cols

      .feed-results__item {
        grid-column: span 2; // by default each item spans across 2 fractions (makes it 3 column row)

        // 1st item
        &:first-child {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column: 1 / 7;
          align-items: center;

          &:hover {
            .item-title { color: #1c1c1c; }
          }

          .item {
            &-details {
              display: flex;
              justify-content: center;

              &__container {
                max-width: 430px;
              }
            }

            &-image-wrapper { padding-bottom: 56%; }

            &-excerpt,
            &-link-button {
              display: block;
            }

            &-type {
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }
}
